@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav{
    width: 300px;
    opacity: 0.8;
}

.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: #F6F8FA;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
}

.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list__item--click{
    cursor: pointer;
}

.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}

.arrow .list__arrow{
    transform: rotate(90deg);
}

.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid #303440;
    list-style: none;
    transition: height .4s;
    height: 0;
}
.contenedor-1{
    width: 100%;
    height: 100vh;
    background-image:url(Imagenes/20.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.cabecera{
    background-color: #fff;
    width: 100%;
    height: 100px;
    display: flex;
    overflow: hidden;
}
.btn_class{
    width: 10%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_class:hover{
    background-color: #c3beb9;
    width: 10%;
    padding-left: 10px;
    display: flex;
}
.logo {
   
   width: 20%;
   padding-left: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.contenedor{
   
    width: 70%;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    display: flex;
    padding-right: 50px;
}

.link{
    color: #000;
    padding: 50px 30px;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.link:hover{
    background-color: #c8a287;
    color: #fff;
   
}
 #btn-menu {
    display: none;
 }
 .cont_menu{
    position: absolute;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
 }

 #btn-menu:checked~.cont_menu{
    opacity: 1;
    visibility: visible;
 }
 .ctn_menu{
    position: relative;
    transition: all 500ms ease;
 }
 .ctn_menu label{
    position: relative;
    transition: all 500ms ease;
 }
 
 .banner{
   
    padding-left: 120px;
    padding-top: 50px;
    display: flex;
    align-items: center;
   justify-content: center;
   

 }
#banner{ 
    background: linear-gradient(#fff)    ;
    opacity: 0.75;
}
 .banner_textos{
    
    padding-left: 20px;
    width: 100%;
    color: #fff;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
.banner-2 h2{ 
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 40px;
    margin: 20px 0 10px 0;
    height: 20vh;
}
.banner-2 p{ 
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    margin: 20px 0 20px 0;
   
}
.banner_textos h1{
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 80px;
    margin: 20px 0 30px 0;
}
.banner_textos p{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    opacity: 1.5;
    font-size: 36px;
    margin: 20px 0 80px 0;
}
.banner_textos a{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #c8a287;
    background-color: #fff;
    padding: 20px 50px;
    opacity: 1.5;
    font-size: 18px;
    width: 20%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-2{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
}

.s_banner{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #c8a287;
    background-color: #fff;
    padding: 20px 50px;
    opacity: 1.5;
    font-size: 36px;
    width:50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 

}

.s_banner1{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #c8a287;
    background-color: #fff;
    padding: 20px 50px;
    padding-right: 50px;
    opacity: 1.5;
    font-size: 36px;
    width:30%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 

}

.s_textos{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.s_textos h1{
    color: #000;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 22px;
    margin: 20px 0 30px 0;

}

.s_textos p{
    color: #000;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    opacity: 1.5;
    font-size: 18px;
    margin: 20px 0 80px 0;

}

.contenedor-3{
    width: 100%;
    height: 100vh;
    background-image:url(Imagenes/19.png) ;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: 100%;

}

.sbanner3{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #fff;
    padding: 20px 50px;
    font-size: 36px;
    width:100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-3{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.banner-3 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 80px;
    margin: 20px 0 50px 0;

}
.banner-3 p{
    padding-left: 200px;
    padding-right: 200
    
    
    
    px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 50px;
    margin: 20px 0 30px 0;


}

.contenedor-4{
    width: 100%;
    height: 100vh;
    background-color: #cfb4ac;
    display: flex;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: 100%;
}

.s_banner4{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #000;
    padding: 20px 50px;
    font-size: 36px;
    width:100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.s_banner4 h1{
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 80px;
    margin: 20px 0 30px 0;

}

.textos4{
  
    width: 60%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  
   
   

}

.textos4 p{
    color: #fff;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    opacity: 1.5;
    font-size: 40px;
    margin: 20px 0 80px 0;


}

.textos4 a{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #c8a287;
    background-color: #fff;
    padding: 20px 50px;
    opacity: 1.5;
    font-size: 18px;
    width: 50%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textos4 a:hover{
    background-color: #9c9b97;
    color: #fff;

}

.contenedor-5{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}

.sbanner_51{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #000;
    padding: 0px 30px;
    font-size: 36px;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.sbanner_52{
 
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #000;
    padding: 20px 30px;
    font-size: 20px;
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.columnas{
   
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;

}

.columnas1{
    width: 30%;

}

.sbanner_52 p{
    color: #000;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    opacity: 1.5;
    font-size: 30px;
    margin: 0px 0 80px 0;

}

.contenedor-6{
    width: 100%;
    height: 100vh;
    background-color: #c8a287;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
    
.border{
    width: 350px;
    border-radius: 200px;

}

.sbaner61{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #fff;
    padding: 0px 30px;
    font-size: 36px;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.sbaner62{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #fff;
    padding: 0px 30px;
    font-size: 36px;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sbaner_textos{
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.sbaner_textos2{

   padding-left: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.sbaner61 h1{
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 70px;
    margin: 20px 0 30px 0;
    padding-left: 100px;

}
.sbaner61 p{
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    opacity: 1.5;
    font-size: 40px;
    margin: 20px 0 30px 0;
    padding-left: 100px;

}


.contenedor-7{
    width: 100%;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
    
.cont_7{
    width: 50%;
    height: 100vh;
    background-color: #cfb4ac;
    padding-left: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cont_7 h1{
    color: #fff;
    font-size: 90px;

}
.cont_7 a{
    background-color: #fff;
    color: #cfb4ac ;
    border-radius: 10px;
    font-size: 30px;
}

.cont_7 a:hover{
    background-color: #9c9b97;
    color: #fff ;
    border-radius: 10px;
}
.img7{
    width: 50%;
    height: 100vh;
    background-image: url(Imagenes/2.png);
}

.contenedor-8{
    width: 100%;
    height: 100vh;
    background-image:url(Imagenes/WhatsApp\ Image\ 2022-12-01\ at\ 12.28.27\ AM.jpeg) ;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    background-size: 100%;
}

.sbaner8{
    color: #fff;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 40px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
    

}
.simbolos{
    color: #fff;
    padding-top: 200px;
    flex-direction: row;
    display: flex;
    align-items: center;
   justify-content: center;
    font-size: 40px;
    
}
